KEYBOARD_SHOW_HOTKEY = ctrl + alt + space
KEYBOARD_SHOW_DETAIL_HOTKEY = ctrl + alt + shift
KEYBOARD_SHOW_IN_SWITCHED_SCREEN_HOTKEY = ctrl + alt + 0
KEYBOARD_HIDE_HOTKEY = esc
KEYBOARD_QUIT_HOTKEY = ctrl + alt + q
KEYBOARD_MOUSE_CLICK_LEFT_HOTKEY = ctrl + alt + enter
KEYBOARD_MOUSE_CLICK_LEFT_DOUBLE_HOTKEY = ctrl + alt + plus
KEYBOARD_MOUSE_CLICK_RIGHT_HOTKEY = ctrl + alt + -

LOG_FILE_PATH = mouse-free.log

LOG_LEVEL = info